.layout {
    min-height: 100%;
    position: relative;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 5rem;
}

.wrapper {
    justify-self: center;
    justify-content: center;

    width: 100%;

    display: grid;
    grid-template-columns: minmax(min-content, calc(170rem + 14rem)) ;
    grid-template-rows: 8rem 1fr;

    @include respond(tab-port) {
        grid-template-rows: 6rem 1fr;
    }
}

.navigation,
.hero,
.category,
.featured  {
    max-width: 170rem;
    margin: 0 7rem;

    @include respond(tab-land) {
        margin: 0 4rem;
    }
    
    @include respond(tab-port) {
        margin: 0 3rem;
    }

    @include respond(mobile) {
        margin: 0 1.5rem;
    }
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;

    @include respond(tab-land) {
        grid-template-columns: max-content 1fr max-content;
        column-gap: 2rem;
    }

    @include respond(tab-port) {
        column-gap: 2rem;
    }

    @include respond(mobile-lg) {
        grid-template-columns: 1fr max-content;
        column-gap: 0;
    }
}

.home {
    grid-template-rows: 50vh 60rem 70rem 85rem 100rem;
    row-gap: 10rem;
}

.establishments {
    grid-template-rows: 3rem 1fr;
    row-gap: 10rem;
    padding: 5rem 0;
}

.establishment {
    grid-template-rows: 3rem 1fr;
    row-gap: 10rem;
    padding: 5rem 0;
}

.contact {
    grid-template-rows: 1fr;
}