.contact-form {
    background-color: $color-white;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: $boxshadow-default;
    width: 40rem;

    &__fieldset {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    & .btn {
        align-self: flex-start;
    }

    &__title {
        font-size: 4rem;
        font-family: $font-family-heading;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 2px;
        margin-bottom: 3rem;

        @include respond(desk) {
            font-size: 3.5rem;
        }
    }
}