.form {
    &__label {
        display: block;
        font-size: 1.2rem;
        line-height: 1;
        margin-bottom: .5rem;
        font-weight: 400;
    }

    &__input,
    &__textarea {
        width: 100%;
        background-color: $color-grey-light-1;
        border: none;
        outline: none;
        padding: 1rem;
        font-family: $font-family-body;

        &::placeholder {
            color: rgba($color-grey-dark-1, .7);
            font-family: $font-family-body;
            font-size: 1.4rem;
        }
    }

    &__textarea {
        height: 20rem;
    }

    &__error {
        color: $color-error;
        font-weight: 400;
        font-size: 1.4rem;
        display: block;
    }

    &__fieldset {
        border: none;
        outline: none;
    }

    &__input--error,
    &__textarea--error {
        border-bottom: 1px solid $color-error;
        background-color: lighten($color-error, 45);
        color: $color-error;

        &::placeholder {
            color: rgba($color-error, .75);
        }
    }

    &__feedback {
        &--error {
            transition: all .3s;
            background-color: rgba($color-error, .5);
            border: 1px solid $color-error;
            padding: 1.5rem
        }
    }
}