.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    justify-content: center;
    align-items: center;
    
    &__banner {
        height: 100%;
        width: 100%;
        position: relative;

        background-image: url('../../public/assets/banner-desktop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        min-width: 45rem;

        @include respond(mobile-lg) {
            & .search {
                width: 100%;
            }
        }

        @include respond(mobile) {
            min-width: unset;
            width: 80%;
           
        }
    }

    &__cta {
        justify-self: center;
        margin-top: -3rem;
        position: relative;
        z-index: 100;
    }
}