.filter {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.establishment-results {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 5rem;


    @include respond(mobile) {
        grid-template-columns: 1fr;
    }

    & > a {
        color: inherit;
        text-decoration: none;
    }
}