.hero {
    background-color: #eee;
}

.category {
    background-color: #eee;
}

.review {
    background-color: #eee;
}   

.featured {
    background-color: #eee;
}

.gallery {
    background-color: #eee;
}   