.hero {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.category {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.review {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.featured {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    background-color: #eee;
}

.gallery {
    grid-column: 1 / 4;
    grid-row: 5 / 6;

    background-color: #eee;
}