// Colors
$color-black: #141414;
$color-white: #FFFFFF;

$color-primary: #ff1447;
$color-primary-light: lighten($color-primary, 10);
$color-primary-dark: darken($color-primary, 14);

$color-grey-light-1: #EEE;
$color-grey-light-2: #D5D5D5;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #4a4a4a; 


// Fonts
$font-family-body: montserrat, sans-serif;
$font-family-heading: ivypresto-headline, serif;

$font-size-default: 1.6rem;